$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {

  &:not(:last-child) {
    margin-bottom: 50px;

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 600px) {
      margin-bottom: 70px;
    }
  }

  &__top {
    background-color: #212121;
    padding: 15px 0;
  }

  &__bottom {
    background-color: #181818;
    padding: 20px 0;
  }

  &__strong {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    display: block;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #181818;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("left", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }

  &__logo {
    font-size: 28px;
    line-height: 1;
    color: #FFFFFF;
    font-weight: 700;
    flex-shrink: 0;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &_menu {
      display: none;
      margin-left: auto;
      margin-bottom: 100px;

      @media (max-width: 991px) {
        display: inline-block;
      }

      @media (max-width: 600px) {}
    }
  }

}

.nav {

  &__list {
    display: flex;
    align-items: center;
    gap: 15px 50px;
    flex-wrap: wrap;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    font-weight: 400;
    transition: color .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 21px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #5836f1;
      }
    }

    &:active {
      color: #5836f1;
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  @media (max-width: 600px) {
    width: 42px;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 10px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.catalog {

  &:not(:last-child) {
    margin-bottom: 70px;

    @media (max-width: 991px) {
      margin-bottom: 50px;
    }

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    gap: 20px;
    grid-template: auto / repeat(auto-fill, minmax(250px, 1fr));

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #bababa;
    background-color: #FFFFFF;
    box-shadow: none;
    transition: border-color .2s ease-in-out;

    & a {
      display: block;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: transparent;
      }
    }

    &:active {

      transition-duration: .1s;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    flex-shrink: 0;

    @media (max-width: 991px) {
      height: 220px;
    }

    @media (max-width: 600px) {
      height: 200px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__name {
    flex: 0 1 auto;
    display: block;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    font-size: 400;
    height: 100%;
    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__span {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    font-size: 400;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__go {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    min-height: 45px;
    font-size: 20px;
    line-height: 1;
    color: #000;
    font-weight: 400;
    margin: 0 auto;
    border: 1px solid #000;
    transition: border-color .2s ease-in-out, color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: rgb(119, 116, 116);
        border-color: rgb(119, 116, 116);
      }
    }

    &:active {
      color: rgb(119, 116, 116);
      border-color: rgb(119, 116, 116);
      transition-duration: .1s;
    }
  }

  &__info {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__strong {
    font-size: 26px;
    color: #000;
    font-weight: 700;
    line-height: 1.2;
    display: block;

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 25px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

}

// ======================================================================================================================================================

.about {
  &:not(:last-child) {
    margin-bottom: 70px;

    @media (max-width: 991px) {
      margin-bottom: 50px;
    }

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__strong {
    display: block;
    font-size: 26px;
    line-height: 1.2;
    color: #000;

    @media (max-width: 991px) {
      font-size: 23px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    & span {
      text-transform: uppercase;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 991px) {
      gap: 15px;
    }

    @media (max-width: 600px) {
      gap: 10px;
    }

  }

  &__icon {
    display: block;
    flex: 0 0 90px;
    height: 90px;

    @media (max-width: 991px) {
      flex: 0 0 75px;
      height: 75px;
    }

    @media (max-width: 600px) {
      flex: 0 0 55px;
      height: 55px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__subtitle {
    font-size: 22px;
    line-height: 1.2;
    color: #000;
    font-weight: 600;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__video {
    position: relative;
    max-width: 600px;
    height: 500px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }

    @media (max-width: 750px) {
      max-width: 500px;
      height: 400px;
    }

    @media (max-width: 450px) {
      max-width: 400px;
      height: 300px;
    }

    & iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================================================================================================================================

.contacts {
  &:not(:last-child) {
    margin-bottom: 70px;

    @media (max-width: 991px) {
      margin-bottom: 50px;
    }

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__title {}


  &__info {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__info-item {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #000;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__link {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    color: #000;
    transition: color .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #5836f1;
      }
    }

    &:active {
      color: #5836f1;
      transition-duration: .1s;
    }
  }

  &__address {
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {
      font-size: 20px;
    }
  }

  &__map {
    width: 100%;
    height: 500px;

    @media (max-width: 991px) {
      flex: none;
      height: 400px;
    }

    @media (max-width: 600px) {
      height: 300px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.footer {
  &__logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    line-height: 1;
    color: #FFFFFF;
    font-weight: 700;
    flex-shrink: 0;

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 50px;

    @media (max-width: 991px) {
      gap: 10px 40px;
    }

    @media (max-width: 600px) {
      gap: 10px 30px;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    transition: color .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #5836f1;
      }
    }

    &:active {
      color: #5836f1;
      transition-duration: .1s;
    }
  }

  &__top {
    background-color: #212121;
    padding: 25px 0;
  }

  &__bottom {
    background-color: #181818;
    padding: 15px 0;
  }

  &__phone {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    font-weight: 400;
    transition: color .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #5836f1;
      }
    }

    &:active {
      color: #5836f1;
      transition-duration: .1s;
    }
  }
}


// ======================================================================================================================================================

.terms {
  margin-top: 60px;

  @media (max-width: 991px) {
    margin-top: 45px;
  }

  @media (max-width: 600px) {
    margin-top: 30px;
  }

  & h1 {
    font-size: 32px;
    line-height: 1.3;
    color: #000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-size: 32px;
    line-height: 1.3;
    color: #000;
    font-weight: 700;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-size: 22px;
    line-height: 1.2;
    color: #000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    font-weight: 400;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}