@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #101010
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto
}

@media (max-width:991px) {
  .page__content {
    display: block
  }
}

.page__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 92%
}

@media (max-width:991px) {
  .page__bottom {
    width: 100%
  }
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 70px
}

.header {
  width: 118px;
  background-color: #2b2a2a;
  padding: 20px 0
}

@media (max-width:991px) {
  .header {
    background-color: transparent;
    width: 100%;
    padding: 15px 0
  }
}

.header__container {
  padding: 0 5px
}

@media (max-width:991px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .header__container {
    padding: 0 10px
  }
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2b2a2a;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  width: 103px;
  height: 37px;
  margin-bottom: 167px
}

@media (max-width:991px) {
  .header__logo {
    width: 156px;
    height: 56px;
    margin-bottom: 0
  }
}

.header__logo_menu {
  display: none;
  margin-bottom: 100px;
  margin-right: auto
}

@media (max-width:991px) {
  .header__logo_menu {
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav {
  padding: 0 10px
}

@media (max-width:991px) {
  .nav {
    padding: 0
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 35px
}

@media (max-width:991px) {
  .nav__item:not(:last-child) {
    margin-bottom: 50px
  }
}

.nav__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.2949;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 21px
  }
}

@media (max-width:600px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #aee735
  }
}

.nav__link:active {
  color: #aee735;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.funny {
  margin-top: 35px
}

@media (max-width:991px) {
  .funny {
    margin-top: 0
  }
}

.funny:not(:last-child) {
  margin-bottom: 70px
}

.no-webp .funny__content {
  background-image: url(../img/hero.png)
}

.funny__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 0;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 504px
}

@media (max-width:991px) {
  .no-webp .funny__content {
    background-image: url(../img/hero_2.png)
  }

  .funny__content {
    min-height: 495px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px 0
  }
}

@media (max-width:600px) {
  .no-webp .funny__content {
    background-image: url(../img/hero_3.png)
  }

  .funny__content {
    min-height: 622px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 0
  }
}

.funny__body {
  max-width: 572px
}

@media (max-width:991px) {
  .funny__body {
    max-width: 518px
  }
}

.funny__span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .funny__span {
    font-size: 18px
  }
}

.funny__span:not(:last-child) {
  margin-bottom: 10px
}

.funny__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .funny__title {
    font-size: 36px
  }
}

@media (max-width:600px) {
  .funny__title {
    font-size: 33px
  }
}

.funny__title span {
  color: #aee735
}

.funny__title:not(:last-child) {
  margin-bottom: 31px
}

@media (max-width:991px) {
  .funny__title:not(:last-child) {
    margin-bottom: 16px
  }
}

@media (max-width:600px) {
  .funny__title:not(:last-child) {
    margin-bottom: 18px
  }
}

.funny__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 61px
}

@media (max-width:991px) {
  .funny__links {
    gap: 38px
  }
}

@media (max-width:600px) {
  .funny__links {
    gap: 20px
  }
}

.funny__links:not(:last-child) {
  margin-bottom: 69px
}

@media (max-width:991px) {
  .funny__links:not(:last-child) {
    margin-bottom: 99px
  }
}

@media (max-width:600px) {
  .funny__links:not(:last-child) {
    margin-bottom: 160px
  }
}

.funny__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #fff;
  width: 176px;
  min-height: 41px;
  -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out
}

@media (max-width:991px) {
  .funny__link {
    font-size: 18px
  }
}

.funny__link_1 {
  background-color: #8cba2b
}

@media (max-width:991px) {
  .funny__link_1 {
    width: 143px;
    min-height: 37px
  }
}

@media (any-hover:hover) {
  .funny__link_1:hover {
    color: #8cba2b;
    background-color: #fff
  }
}

.funny__link_1:active {
  color: #8cba2b;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.funny__link_2 {
  border: 2px solid #aee735
}

@media (max-width:991px) {
  .funny__link_2 {
    width: 150px;
    min-height: 37px
  }
}

@media (any-hover:hover) {
  .funny__link_2:hover {
    border-color: #fff
  }
}

.funny__link_2:active {
  border-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.funny__descleimer {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2949;
  text-align: center;
  color: #fff
}

.funny__descleimer span {
  display: block
}

@media (max-width:991px) {
  .funny__descleimer {
    font-size: 12px
  }
}

.benq:not(:last-child) {
  margin-bottom: 70px
}

.benq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.benq__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 405px;
  flex: 0 0 405px
}

@media (max-width:991px) {
  .benq__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px
  }
}

@media (max-width:600px) {
  .benq__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.benq__wrapper-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #2a2a2a;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .25)
}

@media (max-width:991px) {
  .benq__wrapper-icon {
    width: 73px;
    height: 73px
  }
}

@media (max-width:600px) {
  .benq__wrapper-icon {
    width: 71px;
    height: 72px
  }
}

.benq__wrapper-icon:not(:last-child) {
  margin-bottom: 15px
}

.benq__icon {
  display: block;
  width: 62px;
  height: 40px
}

@media (max-width:991px) {
  .benq__icon {
    width: 52px;
    height: 33px
  }
}

.benq__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.benq__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #fff
}

.benq__title:not(:last-child) {
  margin-bottom: 10px
}

.benq__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: #fff
}

.benq__text:not(:last-child) {
  margin-bottom: 10px
}

.ysek:not(:last-child) {
  margin-bottom: 127px
}

@media (max-width:991px) {
  .ysek:not(:last-child) {
    margin-bottom: 70px
  }
}

.ysek__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:991px) {
  .ysek__title {
    font-size: 30px
  }
}

.ysek__title:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:991px) {
  .ysek__title:not(:last-child) {
    margin-bottom: 10px
  }
}

@media (max-width:600px) {
  .ysek__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.ysek__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px
}

@media (max-width:1320px) {
  .ysek__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px
  }
}

.ysek__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 625px;
  flex: 0 1 625px
}

@media (max-width:1320px) {
  .ysek__descr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%
  }
}

.ysek__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4649;
  color: #fff
}

@media (max-width:991px) {
  .ysek__text {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .ysek__text {
    font-size: 18px
  }
}

.ysek__text:not(:last-child) {
  margin-bottom: 20px
}

.ysek__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 628px;
  flex: 0 0 628px
}

@media (max-width:1320px) {
  .ysek__images {
    max-width: 628px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0 auto
  }
}

@media (max-width:600px) {
  .ysek__images {
    max-width: 336px
  }
}

.ysek__image {
  width: 100%;
  height: 388px
}

@media (max-width:600px) {
  .ysek__image {
    height: 202px
  }
}

.ysek__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.slots:not(:last-child) {
  margin-bottom: 70px
}

.slots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px 83px
}

@media (max-width:1440px) {
  .slots__list {
    gap: 20px 63px
  }
}

@media (max-width:1220px) {
  .slots__list {
    gap: 20px 43px
  }
}

@media (max-width:991px) {
  .slots__list {
    gap: 20px
  }
}

.slots__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 345px;
  flex: 0 0 345px
}

@media (max-width:991px) {
  .slots__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:450px) {
  .slots__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.slots__image {
  height: 313px;
  border-radius: 10px;
  overflow: hidden
}

@media (max-width:991px) {
  .slots__image {
    height: 307px
  }
}

@media (max-width:600px) {
  .slots__image {
    height: 281px
  }
}

.slots__image:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:600px) {
  .slots__image:not(:last-child) {
    margin-bottom: 10px
  }
}

.slots__image a {
  display: block;
  width: 100%;
  height: 100%
}

.slots__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.slots__link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:600px) {
  .slots__link {
    font-size: 17px
  }
}

@media (any-hover:hover) {
  .slots__link:hover {
    color: #8cba2b
  }
}

.slots__link:active {
  color: #8cba2b;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.slots__link:not(:last-child) {
  margin-bottom: 15px
}

@media (max-width:600px) {
  .slots__link:not(:last-child) {
    margin-bottom: 10px
  }
}

.slots__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 176px;
  min-height: 41px;
  background-color: #8cba2b;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .slots__play {
    width: 157px;
    min-height: 40px
  }
}

@media (any-hover:hover) {
  .slots__play:hover {
    color: #8cba2b;
    background-color: #fff
  }
}

.slots__play:active {
  color: #8cba2b;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding: 100px 0 90px 0
}

@media (max-width:991px) {
  .footer {
    padding: 18px 0 42px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 0 0 30px 0
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:700px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 25px
  }
}

.footer__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 561px;
  flex: 0 1 561px
}

@media (max-width:991px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 433px;
    flex: 0 1 433px
  }
}

@media (max-width:700px) {
  .footer__left {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
  }
}

.footer__logo {
  display: block;
  width: 302px;
  height: 108px
}

@media (max-width:991px) {
  .footer__logo {
    width: 252px;
    height: 90px
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__logo:not(:last-child) {
  margin-bottom: 22px
}

@media (max-width:600px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 16px
  }
}

.footer__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2949;
  color: #fff
}

.footer__text span {
  display: block
}

.footer__list {
  text-align: right
}

@media (max-width:700px) {
  .footer__list {
    margin-left: auto
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 21px
}

@media (max-width:991px) {
  .footer__item:not(:last-child) {
    margin-bottom: 10px
  }
}

.footer__link {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.15;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .footer__link {
    font-size: 15px
  }
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #8cba2b
  }
}

.footer__link:active {
  color: #8cba2b;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 103px
}

@media (max-width:991px) {
  .terms {
    margin-top: 90px
  }
}

@media (max-width:600px) {
  .terms {
    margin-top: 75px
  }
}

.terms h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #aee735
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #aee735
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2949;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .terms p {
    font-size: 16px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2949;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .terms li {
    font-size: 14px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.slot {
  margin-top: 103px
}

@media (max-width:991px) {
  .slot {
    margin-top: 90px
  }
}

@media (max-width:600px) {
  .slot {
    margin-top: 75px
  }
}

.slot__content {
  height: 800px
}

@media (max-width:991px) {
  .slot__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .slot__content {
    height: 350px
  }
}

.slot__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 405px;
  background: #101010;
  border-radius: 5px;
  z-index: 2;
  padding: 30px
}

@media (max-width:991px) {
  .popup__body {
    padding: 20px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2949;
  text-align: center;
  color: #fff
}

@media (max-width:600px) {
  .popup__text {
    font-size: 16px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 160px;
  min-height: 43px;
  background-color: #8cba2b;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    width: 130px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 16px;
    width: 100px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #8cba2b;
    background-color: #fff
  }
}

.popup__button:active {
  color: #8cba2b;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .funny__content {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .funny__content {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .funny__content {
    background-image: url(../img/hero_3.webp)
  }
}