@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #210628
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 80px
}

.header {
  padding: 15px 0;
  background-color: #47005a
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #47005a;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  width: 84px;
  height: 54px
}

@media (max-width:991px) {
  .header__logo {
    width: 100px;
    height: 64px
  }
}

@media (max-width:600px) {
  .header__logo {
    width: 87px;
    height: 56px
  }
}

.header__logo_menu {
  display: none;
  margin-right: auto;
  margin-bottom: 100px
}

@media (max-width:991px) {
  .header__logo_menu {
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 44px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-style: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #c804ff
  }
}

.nav__link:active {
  color: #c804ff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.no-webp .yo {
  background-image: url(../img/hero.png)
}

.yo {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat
}

@media (max-width:991px) {
  .no-webp .yo {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .yo {
    background-image: url(../img/hero_3.png)
  }
}

.yo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 679px;
  padding: 30px 0 115px 0
}

@media (max-width:991px) {
  .yo__content {
    padding: 30px 0 95px 0
  }
}

@media (max-width:600px) {
  .yo__content {
    padding: 15px 0 65px 0
  }
}

.yo__body {
  text-align: right;
  max-width: 771px
}

@media (max-width:991px) {
  .yo__body {
    max-width: 523px
  }
}

.yo__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #fff
}

@media (max-width:991px) {
  .yo__title {
    font-size: 49px
  }
}

@media (max-width:600px) {
  .yo__title {
    font-size: 38px
  }
}

.yo__title:not(:last-child) {
  margin-bottom: 10px
}

.yo__descleimer {
  max-width: 673px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  margin-left: auto
}

@media (max-width:991px) {
  .yo__descleimer {
    max-width: 427px
  }
}

.yo__descleimer span {
  display: block
}

.yo__descleimer:not(:last-child) {
  margin-bottom: 57px
}

@media (max-width:991px) {
  .yo__descleimer:not(:last-child) {
    margin-bottom: 32px
  }
}

.yo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 222px;
  min-height: 46px;
  background-color: rgba(200, 4, 255, .79);
  margin-left: auto;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:600px) {
  .yo__link {
    width: 204px
  }
}

@media (any-hover:hover) {
  .yo__link:hover {
    color: rgba(200, 4, 255, .79);
    background-color: #fff
  }
}

.yo__link:active {
  color: rgba(200, 4, 255, .79);
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.asakyra {
  margin-top: -95px
}

@media (max-width:991px) {
  .asakyra {
    margin-top: -85px
  }
}

@media (max-width:600px) {
  .asakyra {
    margin-top: -55px
  }
}

.asakyra:not(:last-child) {
  margin-bottom: 80px
}

.asakyra__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d700b4), color-stop(121.33%, rgba(185, 11, 168, 0)));
  background: -o-linear-gradient(top, #d700b4 0, rgba(185, 11, 168, 0) 121.33%);
  background: linear-gradient(180deg, #d700b4 0, rgba(185, 11, 168, 0) 121.33%);
  padding: 37px 10px 28px 10px
}

@media (max-width:991px) {
  .asakyra__list {
    padding: 21px 10px 34px 10px
  }
}

@media (max-width:600px) {
  .asakyra__list {
    padding: 18px 5px 42px 5px
  }
}

.asakyra__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 360px;
  flex: 0 0 360px
}

@media (max-width:991px) {
  .asakyra__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:600px) {
  .asakyra__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.asakyra__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.15;
  text-align: center;
  color: #fff
}

.asakyra__title:not(:last-child) {
  margin-bottom: 10px
}

.asakyra__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.15;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .asakyra__text {
    font-size: 17px
  }
}

.asakyra__text:not(:last-child) {
  margin-bottom: 10px
}

.no-webp .itan {
  background-image: url(../img/about.png)
}

.itan {
  padding: 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .itan {
    padding: 40px 0
  }
}

@media (max-width:600px) {
  .itan {
    padding: 30px 0
  }
}

.itan:not(:last-child) {
  margin-bottom: 80px
}

.itan__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template: auto/repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px
}

@media (max-width:991px) {
  .itan__container {
    gap: 10px
  }
}

@media (max-width:600px) {
  .itan__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

.itan__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #fff
}

@media (max-width:991px) {
  .itan__title {
    font-size: 32px
  }
}

@media (max-width:600px) {
  .itan__title {
    font-size: 26px
  }
}

.itan__title:not(:last-child) {
  margin-bottom: 10px
}

.itan__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:991px) {
  .itan__subtitle {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .itan__subtitle {
    font-size: 22px
  }
}

.itan__subtitle:not(:last-child) {
  margin-bottom: 16px
}

.itan__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4299;
  color: #fff
}

.itan__text:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:991px) {
  .itan__text:not(:last-child) {
    margin-bottom: 15px
  }
}

@media (max-width:600px) {
  .itan__text:not(:last-child) {
    margin-bottom: 10px
  }
}

.igraem:not(:last-child) {
  margin-bottom: 80px
}

.igraem__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px 55px
}

@media (max-width:991px) {
  .igraem__list {
    gap: 20px 38px
  }
}

@media (max-width:600px) {
  .igraem__list {
    gap: 20px
  }
}

.igraem__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 342px;
  flex: 0 0 342px
}

@media (max-width:991px) {
  .igraem__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 330px;
    flex: 0 0 330px
  }
}

@media (max-width:450px) {
  .igraem__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.igraem__image {
  height: 244px
}

@media (max-width:991px) {
  .igraem__image {
    height: 236px
  }
}

.igraem__image a {
  display: block;
  width: 100%;
  height: 100%
}

.igraem__image a picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}

.igraem__image:not(:last-child) {
  margin-bottom: 10px
}

.igraem__link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .igraem__link:hover {
    color: #7b1199
  }
}

.igraem__link:active {
  color: #7b1199;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.igraem__link:not(:last-child) {
  margin-bottom: 10px
}

.igraem__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  min-height: 43px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  background-color: #7b1199;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .igraem__play {
    min-height: 41px
  }
}

@media (any-hover:hover) {
  .igraem__play:hover {
    color: #7b1199;
    background-color: #fff
  }
}

.igraem__play:active {
  color: #7b1199;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  padding: 0 0 40px 0
}

@media (max-width:991px) {
  .footer {
    padding: 0 0 79px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 0 0 30px 0
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px
}

.footer__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 673px;
  flex: 0 1 673px
}

@media (max-width:991px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.footer__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  color: #fff
}

.footer__text:not(:last-child) {
  margin-bottom: 16px
}

@media (max-width:991px) {
  .footer__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px
  }
}

@media (max-width:400px) {
  .footer__elem {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.footer__logo {
  display: block;
  width: 117px;
  height: 75px
}

@media (max-width:991px) {
  .footer__logo {
    width: 158px;
    height: 101px
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__list {
  text-align: right;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.footer__item:not(:last-child) {
  margin-bottom: 23px
}

.footer__link {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .footer__link {
    font-size: 15px
  }
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #d700b4
  }
}

.footer__link:active {
  color: #d700b4;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  margin-top: 120px
}

@media (max-width:991px) {
  .terms {
    margin-top: 80px
  }
}

@media (max-width:600px) {
  .terms {
    margin-top: 50px
  }
}

.terms h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:600px) {
  .terms p {
    font-size: 15px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.15;
  color: #fff
}

@media (max-width:600px) {
  .terms li {
    font-size: 14px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.slot {
  margin-top: 120px
}

@media (max-width:991px) {
  .slot {
    margin-top: 80px
  }
}

@media (max-width:600px) {
  .slot {
    margin-top: 50px
  }
}

.slot__content {
  height: 800px
}

@media (max-width:991px) {
  .slot__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .slot__content {
    height: 350px
  }
}

.slot__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 397px;
  background: #210628;
  border-radius: 5px;
  z-index: 2;
  padding: 22px 25px
}

@media (max-width:991px) {
  .popup__body {
    padding: 20px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #fff
}

@media (max-width:991px) {
  .popup__text {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .popup__text {
    font-size: 16px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 160px;
  min-height: 41px;
  background-color: #7b1199;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    width: 140px;
    font-style: 18px
  }
}

@media (max-width:600px) {
  .popup__button {
    width: 120px;
    font-style: 16px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #7b1199;
    background-color: #fff
  }
}

.popup__button:active {
  color: #7b1199;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .yo {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .yo {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .yo {
    background-image: url(../img/hero_3.webp)
  }
}

.webp .itan {
  background-image: url(../img/about.webp)
}