$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  padding: 20px 0;
  width: 216px;
  background-color: #143067;

  @media (max-width: 991px) {
    width: 100%;
    padding: 15px 0;
  }

  @media (max-width: 600px) {}

  &:not(:last-child) {
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }

    @media (max-width: 600px) {}
  }

  &__container {
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 600px) {}
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #143067;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("right", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }

  &__logo {
    display: block;
    width: 191px;
    height: 65px;
    margin-bottom: 129px;

    @media (max-width: 991px) {
      width: 161px;
      height: 55px;
      margin-bottom: 0;
    }

    @media (max-width: 600px) {
      width: 127px;
      height: 43px;
    }

    &_menu {
      display: none;
      margin-bottom: 120px;
      margin-right: auto;

      @media (max-width: 991px) {
        display: block;
      }

      @media (max-width: 600px) {}
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.nav {

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 991px) {
        margin-bottom: 60px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__link {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.15;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    transition: opacity .2s ease-in-out;

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 29px;
      height: 29px;

      & img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 600px) {}

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;

  @media (max-width: 991px) {
    display: flex;
  }

  @media (max-width: 600px) {
    width: 42px;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 10px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.loqst {
  margin-top: 25px;

  @media (max-width: 991px) {
    margin-top: 0;
  }

  @media (max-width: 600px) {}

  &:not(:last-child) {
    margin-bottom: 70px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 15px;
    background-image: url(../../img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 551px;

    @media (max-width: 991px) {
      background-image: url(../../img/hero_2.png);
      min-height: 419px;
      padding: 10px 15px;
    }

    @media (max-width: 600px) {
      background-image: url(../../img/hero_3.png);
      min-height: 456px;
      padding: 20px 10px;
    }
  }

  &__body {
    max-width: 559px;
    margin-top: auto;

    @media (max-width: 991px) {
      max-width: 329px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 15px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 17px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #1C70BE;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.15;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 32px;
    }

    @media (max-width: 600px) {
      font-size: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 29px;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 991px) {
      gap: 25px;
    }

    @media (max-width: 600px) {
      gap: 24px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    color: #FFFFFF;
    border-radius: 49px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;

    &_1 {
      width: 164px;
      min-height: 34px;
      background-color: #2180D9;

      @media (max-width: 991px) {
        width: 139px;
      }

      @media (max-width: 600px) {
        width: 116px;
      }

      @media (any-hover: hover) {
        &:hover {
          color: #2180D9;
          background-color: #FFFFFF;
        }
      }

      &:active {
        color: #2180D9;
        background-color: #FFFFFF;
        transition-duration: .1s;
      }
    }

    &_2 {
      width: 141px;
      min-height: 34px;
      border: 1px solid #FFFFFF;

      @media (max-width: 991px) {
        width: 136px;
      }

      @media (max-width: 600px) {
        width: 112px;
      }

      @media (any-hover: hover) {
        &:hover {
          color: #2180D9;
          border-color: #2180D9;
        }
      }

      &:active {
        color: #2180D9;
        border-color: #2180D9;
        transition-duration: .1s;
      }
    }
  }

  &__descleimer {
    margin-top: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.13;
    color: #FFFFFF;
    max-width: 559px;

    @media (max-width: 991px) {
      max-width: 413px;
    }

    @media (max-width: 600px) {}

    & span {
      display: block;
    }
  }
}

// ======================================================================================================================================================

.two {
  &:not(:last-child) {
    margin-bottom: 70px;
  }

  &__list {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 20px;

    @media (max-width: 991px) {}

    @media (max-width: 700px) {
      grid-template-columns: 1fr;

    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: linear-gradient(180deg, #1C70BE 0%, rgba(28, 112, 190, 0.25) 100%);
    border-radius: 10px;
    padding: 20px 15px;

    @media (max-width: 991px) {
      padding: 10px;
    }

    @media (max-width: 600px) {}
  }

  &__descr {
    flex: 0 1 357px;

    @media (max-width: 991px) {
      flex: 1;
    }

    @media (max-width: 600px) {}
  }

  &__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 1.4;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 22px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 991px) {
        margin-bottom: 13px;
      }

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2649;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 13px;
    }

    @media (max-width: 600px) {}
  }

  &__icon {
    display: block;
    flex: 0 0 110px;
    height: 141px;

    @media (max-width: 991px) {
      flex: 0 0 66px;
      height: 84px;
    }

    @media (max-width: 600px) {}

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.nas {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 991px) {
    background-image: url(../../img/about.png);
    padding: 18px 0 33px 0;
  }

  @media (max-width: 600px) {
    padding: 19px 0 24px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(12, 34, 113, 0.63), rgba(12, 34, 113, 0.63));
    display: none;

    @media (max-width: 991px) {
      display: block;
    }

    @media (max-width: 600px) {}
  }

  &:not(:last-child) {
    margin-bottom: 70px;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 33px 15px;
    background-image: url(../../img/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 991px) {
      background: none !important;
    }

    @media (max-width: 600px) {}

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(0deg, rgba(12, 34, 113, 0.63), rgba(12, 34, 113, 0.63));

      @media (max-width: 991px) {
        display: none;
      }

      @media (max-width: 600px) {}
    }
  }

  &__title {
    font-weight: 900;
    font-size: 35px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      font-size: 25px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 991px) {
        margin-bottom: 16px;
      }

      @media (max-width: 600px) {}
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    @media (max-width: 600px) {}
  }

  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.528;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
    }
  }
}

// ======================================================================================================================================================

.gry {
  &:not(:last-child) {
    margin-bottom: 70px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    flex: 0 0 372px;

    @media (max-width: 991px) {
      flex: 0 0 342px;
    }

    @media (max-width: 450px) {
      flex: 0 1 100%;
    }
  }

  &__image {
    height: 205px;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 991px) {
      height: 186px;
    }

    @media (max-width: 600px) {
      height: 182px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    & a {
      display: block;
      width: 100%;
      height: 100%;

      & picture {
        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.528;
    color: #FFFFFF;
    transition: opacity .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding: 20px 0 29px 0;
  background-color: #143067;

  @media (max-width: 991px) {
    padding: 35px 0 42px 0;
  }

  @media (max-width: 600px) {
    padding: 27px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    @media (max-width: 991px) {
      align-items: flex-start;
    }

    @media (max-width: 700px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__left {
    flex: 0 1 555px;

    @media (max-width: 991px) {
      flex: 0 1 524px;
    }

    @media (max-width: 700px) {
      flex: none;
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.15;
    color: #FFFFFF;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}

    & span {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 991px) {
        margin-bottom: 30px;
      }

      @media (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 41px;

    @media (max-width: 991px) {
      gap: 10px 30px;
    }

    @media (max-width: 600px) {
      gap: 10px 20px;
    }
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.13;
    text-align: center;
    color: #FFFFFF;
    transition: opacity .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 15px;
    }

    @media (max-width: 600px) {}

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .2;
      transition-duration: .1s;
    }
  }

  &__logo {
    display: block;
    flex: 0 0 178px;
    height: 61px;

    @media (max-width: 991px) {
      flex: 0 0 156px;
      height: 53px;
    }

    @media (max-width: 700px) {
      width: 156px;
      height: 53px;
      flex: none;
      margin-left: auto;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

// ======================================================================================================================================================

.terms {
  margin-top: 92px;

  @media (max-width: 991px) {
    margin-top: 50px;
  }

  @media (max-width: 600px) {}

  & h1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 1.15;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-weight: 700;
    font-size: 29px;
    line-height: 1.15;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.15;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.slot {
  margin-top: 92px;

  @media (max-width: 991px) {
    margin-top: 50px;
  }

  &__content {
    height: 800px;

    @media (max-width: 991px) {
      height: 550px;
    }

    @media (max-width: 600px) {
      height: 350px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================================================================================================================================

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 496px;
  background-color: #143067;
  border-radius: 5px;
  z-index: 2;
  padding: 25px 10px;

  @media (max-width: 991px) {
    padding: 20px 10px;
  }

  @media (max-width: 600px) {}

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__image {
  flex: 0 0 147px;
  height: 121px;

  @media (max-width: 991px) {
    flex: 0 0 137px;
    height: 111px;
  }

  @media (max-width: 600px) {
    flex: none;
    width: 127px;
    height: 101px;
    margin: 0 auto;
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.popup__descr {
  flex: 1;
}

.popup__form {
  width: 100%;
  display: flex;
  gap: 15px;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px;
}

.popup__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #FFFFFF;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 160px;
  min-height: 44px;
  background-color: #1C70BE;
  border-radius: 39px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  margin-left: auto;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;

  @media (max-width: 991px) {
    width: 140px;
    font-size: 18px;
  }

  @media (max-width: 600px) {
    width: 120px;
    font-size: 16px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #1C70BE;
      background-color: #FFFFFF;
    }
  }

  &:active {
    color: #1C70BE;
    background-color: #FFFFFF;
    transition-duration: .1s;
  }
}