@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:active,
:focus {
  outline: 0
}

a:active,
a:focus {
  outline: 0
}

aside,
footer,
header,
nav {
  display: block
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
  font-family: inherit
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  display: inline-block
}

a,
a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

ul li {
  list-style: none
}

img {
  vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

picture {
  display: block;
  width: 100%;
  height: 100%
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url(../fonts/.woff2) format("woff2"), url(../fonts/.woff) format("woff")
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto
}

@media (max-width:991px) {
  .container {
    padding: 0 15px
  }
}

@media (max-width:600px) {
  .container {
    padding: 0 10px
  }
}

body {
  background-color: #00213a
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  overflow: hidden
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

main:not(:last-child) {
  margin-bottom: 77px
}

@media (max-width:991px) {
  main:not(:last-child) {
    margin-bottom: 90px
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#00213a), color-stop(66.98%, rgba(0, 33, 58, .91875)), to(rgba(0, 33, 58, 0)));
  background: -o-linear-gradient(top, #00213a 0, rgba(0, 33, 58, .91875) 66.98%, rgba(0, 33, 58, 0) 100%);
  background: linear-gradient(180deg, #00213a 0, rgba(0, 33, 58, .91875) 66.98%, rgba(0, 33, 58, 0) 100%)
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

@media (max-width:991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00213a;
    z-index: 100;
    padding: calc(15px + 15 * ((100vw - 320px)/ 1600));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out
  }
}

.header__exit-menu {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent
}

@media (max-width:991px) {
  .header__exit-menu {
    display: block;
    top: calc(15px + 15 * ((100vw - 320px)/ 1600));
    right: calc(15px + 15 * ((100vw - 320px)/ 1600))
  }
}

.header__exit-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header__exit-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header__logo {
  display: block;
  width: 237px;
  height: 66px
}

@media (max-width:600px) {
  .header__logo {
    width: 157px;
    height: 44px
  }
}

.header__logo_menu {
  display: none;
  margin-right: auto;
  margin-bottom: 100px
}

@media (max-width:991px) {
  .header__logo_menu {
    display: block
  }
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px 60px
}

@media (max-width:991px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 50px
  }
}

.nav__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (max-width:991px) {
  .nav__link {
    font-size: 24px
  }
}

@media (any-hover:hover) {
  .nav__link:hover {
    color: #0083b5
  }
}

.nav__link:active {
  color: #0083b5;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent
}

@media (max-width:991px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width:600px) {
  .burger {
    width: 42px
  }
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px
}

.burger span:first-child {
  margin-bottom: 5px
}

.burger span:last-child {
  margin-bottom: 0
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible
}

.no-webp .ponch {
  background-image: url(../img/hero.png)
}

.ponch {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover
}

@media (max-width:991px) {
  .no-webp .ponch {
    background-image: url(../img/hero_2.png)
  }
}

@media (max-width:600px) {
  .no-webp .ponch {
    background-image: url(../img/hero_3.png)
  }
}

.ponch:not(:last-child) {
  margin-bottom: 60px
}

@media (max-width:991px) {
  .ponch:not(:last-child) {
    margin-bottom: 50px
  }
}

@media (max-width:600px) {
  .ponch:not(:last-child) {
    margin-bottom: 90px
  }
}

.ponch__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 130px 0 100px 0;
  min-height: 912px
}

@media (max-width:991px) {
  .ponch__content {
    min-height: 990px
  }
}

@media (max-width:600px) {
  .ponch__content {
    padding: 150px 0 50px 0;
    min-height: 1009px
  }
}

.ponch__body {
  max-width: 664px
}

@media (max-width:991px) {
  .ponch__body {
    max-width: 433px
  }
}

.ponch__body:not(:last-child) {
  margin-bottom: 144px
}

@media (max-width:991px) {
  .ponch__body:not(:last-child) {
    margin-bottom: 130px
  }
}

@media (max-width:600px) {
  .ponch__body:not(:last-child) {
    margin-bottom: 60px
  }
}

.ponch__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.052;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:600px) {
  .ponch__title {
    font-size: 32px
  }
}

.ponch__title:not(:last-child) {
  margin-bottom: 10px
}

@media (max-width:991px) {
  .ponch__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .ponch__title:not(:last-child) {
    margin-bottom: 10px
  }
}

.ponch__descleimer {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.052;
  color: #fff
}

.ponch__descleimer span {
  display: block
}

@media (max-width:991px) {
  .ponch__descleimer {
    font-size: 15px
  }
}

.ponch__descleimer:not(:last-child) {
  margin-bottom: 43px
}

@media (max-width:991px) {
  .ponch__descleimer:not(:last-child) {
    margin-bottom: 33px
  }
}

@media (max-width:600px) {
  .ponch__descleimer:not(:last-child) {
    margin-bottom: 28px
  }
}

.ponch__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 278px;
  min-height: 77px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 8px rgba(249, 249, 249, .25);
  box-shadow: 0 0 8px rgba(249, 249, 249, .25);
  border-radius: 52px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, border-color .2s ease-in-out
}

@media (max-width:991px) {
  .ponch__link {
    width: 252px;
    min-height: 70px;
    font-size: 21px
  }
}

@media (any-hover:hover) {
  .ponch__link:hover {
    color: #0083b5;
    border-color: #0083b5
  }
}

.ponch__link:active {
  color: #0083b5;
  border-color: #0083b5;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.ponch__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.ponch__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 338px;
  flex: 0 0 338px;
  padding: 20px 0;
}

@media (max-width:991px) {
  .ponch__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 309px;
    flex: 0 0 309px;
    padding: 0;
  }
}

@media (max-width:600px) {
  .ponch__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.ponch__item:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid #fff
}

@media (max-width:1300px) {
  .ponch__item:not(:last-child) {
    border-right: 0;
    padding-right: 0
  }
}

.ponch__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.052;
  text-align: center;
  text-transform: uppercase;
  color: #fff
}

.ponch__subtitle:not(:last-child) {
  margin-bottom: 10px
}

.ponch__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.052;
  text-align: center;
  color: #fff
}

.ponch__text:not(:last-child) {
  margin-bottom: 10px
}

.poncher:not(:last-child) {
  margin-bottom: 90px
}

.poncher__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px
}

.poncher__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 772px;
  flex: 0 1 772px
}

@media (max-width:991px) {
  .poncher__descr {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.poncher__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.052;
  text-transform: uppercase;
  color: #fff;
  background-color: #0083b5
}

@media (max-width:991px) {
  .poncher__title {
    font-size: 30px;
    padding: 10px 15px
  }
}

.poncher__title:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .poncher__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .poncher__title:not(:last-child) {
    margin-bottom: 25px
  }
}

.poncher__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.247;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

@media (max-width:991px) {
  .poncher__text {
    font-size: 20px
  }
}

.poncher__text:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .poncher__text:not(:last-child) {
    margin-bottom: 0
  }
}

@media (max-width:991px) {
  .poncher__item {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px
  }
}

@media (max-width:600px) {
  .poncher__item {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.poncher__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 340px;
  flex: 0 0 340px;
  height: 400px
}

@media (max-width:991px) {
  .poncher__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 256px;
    flex: 0 0 256px;
    height: 301px
  }
}

@media (max-width:600px) {
  .poncher__image {
    margin: 0 auto;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 256px;
    height: 301px
  }
}

.poncher__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.ponchers:not(:last-child) {
  margin-bottom: 90px
}

.ponchers__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.052;
  text-transform: uppercase;
  color: #fff;
  background-color: #0083b5
}

@media (max-width:991px) {
  .ponchers__title {
    font-size: 30px;
    padding: 10px 15px
  }
}

.ponchers__title:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .ponchers__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .ponchers__title:not(:last-child) {
    margin-bottom: 25px
  }
}

.ponchers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.ponchers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px;
  position: relative;
  height: 296px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 366px;
  flex: 0 0 366px
}

@media (max-width:991px) {
  .ponchers__item {
    height: 277px;
    padding: 20px 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 342px;
    flex: 0 0 342px
  }
}

@media (max-width:600px) {
  .ponchers__item {
    height: 272px
  }
}

@media (max-width:450px) {
  .ponchers__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.ponchers__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 108, 141, 0)), to(#156c8d));
  background: -o-linear-gradient(top, rgba(21, 108, 141, 0) 0, #156c8d 100%);
  background: linear-gradient(180deg, rgba(21, 108, 141, 0) 0, #156c8d 100%);
  z-index: 1
}

.no-webp .ponchers__item_1 {
  background-image: url(../img/game-1.png)
}

.no-webp .ponchers__item_2 {
  background-image: url(../img/game-2.png)
}

.no-webp .ponchers__item_3 {
  background-image: url(../img/game-3.jpg)
}

.ponchers__links {
  position: relative;
  z-index: 2
}

.ponchers__link {
  display: block;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.052;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .ponchers__link:hover {
    color: #dba210
  }
}

.ponchers__link:active {
  color: #dba210;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.ponchers__link:not(:last-child) {
  margin-bottom: 10px
}

.ponchers__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  width: 108px;
  min-height: 40px;
  background-color: #dba210;
  border-radius: 46px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .ponchers__play {
    width: 100px;
    min-height: 37px
  }
}

@media (max-width:600px) {
  .ponchers__play {
    width: 98px
  }
}

@media (any-hover:hover) {
  .ponchers__play:hover {
    color: #dba210;
    background-color: #fff
  }
}

.ponchers__play:active {
  color: #dba210;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.footer {
  background-color: #163c59;
  padding: 23px 0 56px 0
}

@media (max-width:991px) {
  .footer {
    padding: 18px 0 30px 0
  }
}

@media (max-width:600px) {
  .footer {
    padding: 29px 0 89px 0
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@media (max-width:600px) {
  .footer__container {
    gap: 56px
  }
}

.footer__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 573px;
  flex: 0 1 573px;
  margin-right: auto
}

@media (max-width:991px) {
  .footer__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }
}

.footer__logo {
  display: block;
  width: 278px;
  height: 77px
}

@media (max-width:600px) {
  .footer__logo {
    width: 246px;
    height: 68px
  }
}

.footer__logo:not(:last-child) {
  margin-bottom: 20px
}

@media (max-width:600px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 12px
  }
}

.footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center
}

.footer__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.052;
  color: #fff
}

.footer__text span {
  display: block
}

.footer__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 402px;
  flex: 0 0 402px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto
}

@media (max-width:991px) {
  .footer__right {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
}

@media (max-width:600px) {
  .footer__right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.footer__column {
  text-align: center
}

.footer__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.052;
  text-align: center;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:600px) {
  .footer__title {
    font-size: 16px
  }
}

.footer__title:not(:last-child) {
  margin-bottom: 25px
}

@media (max-width:991px) {
  .footer__title:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .footer__title:not(:last-child) {
    margin-bottom: 15px
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 23px
}

.footer__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.12;
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

@media (any-hover:hover) {
  .footer__link:hover {
    color: #dba210
  }
}

.footer__link:active {
  color: #dba210;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.terms {
  padding-top: 170px
}

@media (max-width:991px) {
  .terms {
    padding-top: 150px
  }
}

@media (max-width:600px) {
  .terms {
    padding-top: 130px
  }
}

.terms h1 {
  font-weight: 700;
  font-size: 29px;
  line-height: 1.052;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .terms h1 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h1 {
    font-size: 22px
  }
}

.terms h1:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h1:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h1:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms h2 {
  font-weight: 700;
  font-size: 29px;
  line-height: 1.052;
  text-transform: uppercase;
  color: #fff
}

@media (max-width:991px) {
  .terms h2 {
    font-size: 26px
  }
}

@media (max-width:600px) {
  .terms h2 {
    font-size: 22px
  }
}

.terms h2:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms h2:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms h2:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.052;
  color: #fff
}

@media (max-width:991px) {
  .terms p {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .terms p {
    font-size: 16px
  }
}

.terms p:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms p:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms p:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms ul:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms ul:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms ul:not(:last-child) {
    margin-bottom: 15px
  }
}

.terms li {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.052;
  color: #fff
}

@media (max-width:991px) {
  .terms li {
    font-size: 16px
  }
}

@media (max-width:600px) {
  .terms li {
    font-size: 14px
  }
}

.terms li:not(:last-child) {
  margin-bottom: 30px
}

@media (max-width:991px) {
  .terms li:not(:last-child) {
    margin-bottom: 20px
  }
}

@media (max-width:600px) {
  .terms li:not(:last-child) {
    margin-bottom: 15px
  }
}

.game {
  padding-top: 170px
}

@media (max-width:991px) {
  .game {
    padding-top: 150px
  }
}

@media (max-width:600px) {
  .game {
    padding-top: 130px
  }
}

.game__content {
  height: 800px
}

@media (max-width:991px) {
  .game__content {
    height: 550px
  }
}

@media (max-width:600px) {
  .game__content {
    height: 350px
  }
}

.game__content iframe {
  width: 100%;
  height: 100%
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1
}

.popup__body {
  position: relative;
  width: 443px;
  background: #00213a;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 20px
}

@media (max-width:991px) {
  .popup__body {
    padding: 20px 15px
  }
}

@media (max-width:600px) {
  .popup__body {
    width: 95%;
    padding: 15px 10px
  }
}

.popup__form {
  width: 100%
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px
}

.popup__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.04;
  letter-spacing: -.025em;
  color: #fff
}

@media (max-width:991px) {
  .popup__text {
    font-size: 20px
  }
}

@media (max-width:600px) {
  .popup__text {
    font-size: 18px
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 20px
}

.popup__form-bottom {
  text-align: center
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  width: 160px;
  min-height: 43px;
  background-color: #efcd03;
  border-radius: 28px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  letter-spacing: -.025em;
  color: #fff;
  margin-left: auto;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out
}

@media (max-width:991px) {
  .popup__button {
    font-size: 20px;
    width: 150px
  }
}

@media (max-width:600px) {
  .popup__button {
    font-size: 18px;
    width: 140px
  }
}

@media (any-hover:hover) {
  .popup__button:hover {
    color: #efcd03;
    background-color: #fff
  }
}

.popup__button:active {
  color: #efcd03;
  background-color: #fff;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

.webp .ponch {
  background-image: url(../img/hero.webp)
}

@media (max-width:991px) {
  .webp .ponch {
    background-image: url(../img/hero_2.webp)
  }
}

@media (max-width:600px) {
  .webp .ponch {
    background-image: url(../img/hero_3.webp)
  }
}

.webp .ponchers__item_1 {
  background-image: url(../img/game-1.webp)
}

.webp .ponchers__item_2 {
  background-image: url(../img/game-2.webp)
}

.webp .ponchers__item_3 {
  background-image: url(../img/game-3.webp)
}