$maxWidth: 1920; // обязательно для адаптивного шрифта и адаптивного свойства
$maxWidthContainer: 1440; // обязательно для адаптивного шрифта и адаптивного свойства

// Адаптивное свойство

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

// ===================================================================================================================================================

// Адаптивный шрифт

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header {
  position: relative;
  z-index: 10;

  &:not(:last-child) {
    @media (max-width: 991px) {
      margin-bottom: 15px;
    }

    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  &__top {
    padding: 15px 0;
  }
  &__container {
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    @media (max-width: 600px) {

    }
  }
  &__logo {
    display: block;
    margin: 0 auto;
    width: 178px;
    height: 58px;

    @media (max-width: 991px) {
      width: 161px;
      height: 52px;
      margin: 0;
      margin-right: auto;
      position: relative;
      left: -20px;
    }

    @media (max-width: 600px) {
      width: 157px;
      height: 51px;
    }

    &_menu {
      display: none;
      margin-bottom: 100px;
      margin-left: auto;

      @media (max-width: 991px) {
        display: block;
        position: static;
      }

      @media (max-width: 600px) {}
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__bottom {
    @media (max-width: 991px) {
      display: none;
    }

    @media (max-width: 600px) {}
  }

  &__bottom-footer {
    padding: 18px 0;
    background-color: #122608;
    border-radius: 9px;
  }

  &__menu {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #122608;
      z-index: 100;
      @include adaptive ("padding", 30, 15, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      overflow: auto;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
    }
  }

  &__exit-menu {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: block;
      @include adaptive ("top", 30, 15, 0);
      @include adaptive ("left", 30, 15, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: rotate(-45deg);
    }
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 33px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }

    @media (max-width: 600px) {}
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #FFFFFF;
    transition: color .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #E65A0C;
      }
    }

    &:active {
      color: #E65A0C;
      transition-duration: .1s;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 52px;
  height: 25px;
  background-color: transparent;
  margin-right: auto;

  @media (max-width: 991px) {
    display: flex;
  }

  @media (max-width: 600px) {
    width: 42px;
  }

  & span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// ======================================================================================================================================================

.gerakl {
  margin-top: -20px;
  background-image: url(../../img/hero.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 991px) {
    background-image: url(../../img/hero_2.png);
    margin-top: 0;
  }

  @media (max-width: 600px) {
    background-image: url(../../img/hero_3.png);
  }

  &:not(:last-child) {
    margin-bottom: 90px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 20px 0;
    min-height: 501px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      min-height: 738px;
    }
  }

  &__body {
    max-width: 674px;

    @media (max-width: 991px) {
      max-width: 420px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 55px;

      @media (max-width: 991px) {
        margin-bottom: 86px;
      }

      @media (max-width: 600px) {
        margin-bottom: 155px;
      }
    }
  }

  &__title {
    font-weight: 900;
    font-size: 49px;
    line-height: 1.40;
    color: #FFFFFF;
    max-width: 575px;
    @media (max-width: 991px) {
      font-size: 38px;
      max-width: 420px;
    }

    @media (max-width: 600px) {
      font-size: 31px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: 991px) {
        margin-bottom: 18px;
      }

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.16;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;

      @media (max-width: 991px) {
        margin-bottom: 30px;
      }

      @media (max-width: 600px) {
        margin-bottom: 85px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 238px;
    min-height: 48px;
    background-color: #E65A0C;
    border-radius: 41px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    color: #FFFFFF;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}

    @media (any-hover: hover) {
      &:hover {
        color: #E65A0C;
        background-color: #FFFFFF;
      }
    }

    &:active {
      color: #E65A0C;
      background-color: #FFFFFF;
      transition-duration: .1s;
    }
  }

  &__descleimer {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.052;
    color: #FFFFFF;
    max-width: 573px;

    & span {
      display: block;
    }

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}
  }
}

// ======================================================================================================================================================

.chan {
  &:not(:last-child) {
    margin-bottom: 90px;
  }

  &__title {
    font-weight: 900;
    font-size: 35px;
    line-height: 1.4;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__item {
    border-radius: 10px;
    background-image: url(../../img/benefits.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 376px;
    padding: 23px 15px 32px 15px;

    @media (max-width: 991px) {
      flex: 0 0 342px;
    }

    @media (max-width: 600px) {
      flex: 0 1 100%;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.15;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

// ======================================================================================================================================================

.djeki {
  &:not(:last-child) {
    margin-bottom: 90px;
  }

  &__title {
    font-weight: 900;
    font-size: 35px;
    line-height: 1.4;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 360px;

    @media (max-width: 991px) {
      flex: 0 0 339px;
    }

    @media (max-width: 450px) {
      flex: 0 1 100%;
    }
  }

  &__image {
    height: 245px;
    overflow: hidden;
    border-radius: 10px;

    @media (max-width: 991px) {
      height: 227px;
    }

    @media (max-width: 600px) {
      height: 222px;
    }
    & a {
      display: block;
        width: 100%;
        height: 100%;
      & picture {
        & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 179px;
    min-height: 42px;
    background-color: #E65A0C;
    border-radius: 38px;
    font-weight: 400;
    font-size: 19px;
    line-height: 1;
    color: #FFFFFF;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    margin: 0 auto;

    @media (max-width: 991px) {
      width: 165px;
      min-height: 39px;
    }

    @media (max-width: 600px) {
      width: 161px;
      min-height: 38px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #E65A0C;
        background-color: #FFFFFF;
      }
    }

    &:active {
      color: #E65A0C;
      background-color: #FFFFFF;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.arnold {
  &:not(:last-child) {
    margin-bottom: 90px;
  }

  &__content {
    position: relative;
    display: flex;
    gap: 15px;
    padding: 0 20px;
    @media (max-width: 991px) {
      padding: 0 15px;
    }
    @media (max-width: 600px) {
      padding: 0 10px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      height: 85%;
      background-color: #213B14;
      border-radius: 32px;

      @media (max-width: 991px) {
  
      }

      @media (max-width: 600px) {
        height: 100%;
      }
    }
  }

  &__descr {
    flex: 0 1 753px;
    position: relative;
    z-index: 2;
    align-self: flex-end;
    padding: 30px 0 50px 0;
    @media (max-width: 991px) {
      flex: 0 1 100%;
      padding: 0 0 30px 0;
    }

    @media (max-width: 600px) {
      padding: 20px 0;
    }
  }

  &__item {
    @media (max-width: 991px) {
      display: flex;
      gap: 20px;
    }

    @media (max-width: 700px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__texts {
    @media (max-width: 991px) {
      align-self: center;
    }
    @media (max-width: 600px) {

    }
  }

  &__title {
    font-weight: 900;
    font-size: 35px;
    line-height: 1.4;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 30px;
    }

    @media (max-width: 700px) {
      order: 1;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 37px;

      @media (max-width: 991px) {
        margin-bottom: 10px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2749;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 17px;
    }

    &_1 {
      @media (max-width: 700px) {
        order: 2;
      }
    }

    &_2 {
      @media (max-width: 700px) {
        order: 3;
      }
    }
  }

  &__image {
    flex: 0 0 388px;
    height: 508px;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      flex: 0 0 252px;
      height: 330px;
    }

    @media (max-width: 600px) {}

    @media (max-width: 700px) {
      order: 4;
      max-width: 252px;
      height: 330px;
      flex: none;
      margin: 0 auto;
    }
    & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    }
  }
}

// ======================================================================================================================================================

.footer {
  padding: 0 0 45px 0;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {
    padding: 0 0 30px 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__left {
    margin-right: auto;
    flex: 0 1 566px;

    @media (max-width: 991px) {
      flex: 0 1 431px;
    }

    @media (max-width: 700px) {
      flex: 0 1 100%;
    }
  }

  &__logo {
    display: block;
    width: 161px;
    height: 52px;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      width: 158px;
      height: 51px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.052;
    color: #FFFFFF;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}

    & span {
      display: block;
    }
  }

  &__list {
    margin-left: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
    transition: color .2s ease-in-out;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {}

    @media (any-hover: hover) {
      &:hover {
        color: #E65A0C;
      }
    }

    &:active {
      color: #E65A0C;
      transition-duration: .1s;
    }
  }
}

// ======================================================================================================================================================

.terms {
  margin-top: 90px;

  @media (max-width: 991px) {
    margin-top: 75px;
  }

  @media (max-width: 600px) {
    margin-top: 60px;
  }

  & h1 {
    font-weight: 900;
    font-size: 30px;
    line-height: 1.4;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 1.4;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 22px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & p {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.15;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 23px;
    }

    @media (max-width: 600px) {
      font-size: 19px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & ul {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  & li {
    font-weight: 400;
    font-size: 23px;
    line-height: 1.15;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 19px;
    }

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }
}

// ======================================================================================================================================================

.slot {
  margin-top: 90px;

  @media (max-width: 991px) {
    margin-top: 75px;
  }

  @media (max-width: 600px) {
    margin-top: 60px;
  }

  &__content {
    height: 800px;

    @media (max-width: 991px) {
      height: 550px;
    }

    @media (max-width: 600px) {
      height: 350px;
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// ======================================================================================================================================================

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  height: 100vh;
}

.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}

.popup__body {
  position: relative;
  width: 410px;
  background: #122608;
  border-radius: 5px;
  z-index: 2;
  padding: 30px 20px;

  @media (max-width: 991px) {
    padding: 20px 15px;
  }

  @media (max-width: 600px) {}

  @media (max-width: 600px) {
    width: 95%;
    padding: 15px 10px;
  }
}

.popup__form {
  width: 100%;
}

.popup__form input {
  position: absolute;
  top: 0;
  left: -5000px;
}

.popup__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #FFFFFF;

  @media (max-width: 991px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.popup__form-bottom {
  text-align: center;
}

.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 160px;
  min-height: 45px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  background-color: #E65A0C;
  border-radius: 32px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;

  @media (max-width: 991px) {
    width: 140px;
    font-size: 18px;
  }

  @media (max-width: 600px) {
    width: 120px;
    font-size: 16px;
    min-height: 40px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #E65A0C;
      background-color: #FFFFFF;
    }
  }

  &:active {

    transition-duration: .1s;
  }
}